#root {
	background-image: url(img/gradient.jpg);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font-family: monospace;
}

.row h1 {
	margin-top: 10px;
	margin-bottom: 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
	outline:none;
	box-shadow:none;
}

#title {
	position: absolute;
	z-index: 1;
}

#content {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 2;
}

#content-Projects, #content-Contact {
	display: none;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: grey;
}
